*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    left: 0;
    width: 100%;
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none;}
li{font-size: 25px;}

header{
    background: none;
    position: fixed;
    width: 98%;

}
header .container{
    background-color: #fbfcfd;
    
}



button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    border: 1px solid #082edb ;
    box-shadow: 2px 2px 7px black;
    background-color: #082edb;
    cursor: pointer;
}
button:hover{
    background-color: rgb(3, 3, 112);
}
#menu-bar{
    display: none;
}
header label{
    font-size: 20px;
    color: #262626;
    cursor: pointer;
    display: none;
}
header{
    padding: 0px 50px;
}
header .container{
    display: flex;
    height: 90px;
    width: 100%;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.log{
    width: 190px;
    padding-bottom: 20px;
    
}
.nav-menu{
display: flex;
margin-left: 70px;
width: max-content;
justify-content: space-between;
}

.a-nav{
    font-size: 13px;
    color: #262626;
    margin: 0;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
    
}

.a-nav ul li a{
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    padding: 20px ;
    display: block;
    transition: all .2s ease;
    
}
 a:hover{
    background-color:#004AAD;
    color: white;
}
.nav-menu li a{
    text-decoration: none;
    padding: 15px 15px;
    display: block;
    font-size: 14px;
    margin: 15px 0;
}

.submenu li a{
    background-color: #0a141d;
    color: white;
    font-size: 14px;
}
.submenu li a:hover{
    background-color: #004AAD;
    color: white;
}
.submenu{
    display: none;
    position: absolute;
    min-width: 140px;
}
.nav-menu > li{
    float: left;
}
.nav-menu li:hover > ul{
    display: block;
}

#hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
    width: 100%;
    color: white;
    background-image: linear-gradient(
        20deg, rgba(0,0,0,0.5),
             rgba(0,0,0,0.5)
    )
    ,url(recursos/hero4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#hero p{
    font-family: 'Glacial Indifference', sans-serif;
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 10px;
    text-align: center;
}

#hero h1{
    font-family:'Glacial Indifference', sans-serif;
    
}
#formulario{
    background-color:white;
}
#formulario{
    height: 100vh;
    width: 100%;
}
.form-2{
    width: 30%;
    margin: 520px;
    background: white;
    box-sizing: border-box;
    margin-top: 50px;
    border-radius: 15px;
    box-shadow: 1px 5px 10px rgba(0,0,0,0.4);
    padding: 20px 30px;
    
}
.form-2{
    max-width: 70%;
}

.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
}
h2{
    color: #004AAD;
    text-align: center;
    margin: 0;
    font-size: 17px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

label{
    color: #283629;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 17px;
    border-radius: 5px;
    font-size: 14px;
    border: none;
    background-color: #d4dfee;
}
textarea{
    min-height: 100px;
    max-height: 100px;
    max-width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


input::placeholder, textarea::placeholder{
    color: #181717;
}

.form-text{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.form-text a{
    font-size: 12px;
    font-weight: 600;   
    text-decoration: none;
}

:focus{
    outline: 1px solid #1E92E9;
}

.btn{
    background-color: #004AAD;
    color: #ffffff;
    border: 0;
    border-radius: 25px;
    box-shadow: rgba(0,0,0,0.2);
    cursor: pointer;
    padding: 14px;
}
.btn:hover{
    background-color: #219BF9;
}

.container1{
    width: 100%;
}
#nuestros-programas{
color: white;
    background-color: #004AAD;
    height: 50%;
    width: 100%;
}
#nuestros-programas {
    text-align: center;

}
#nuestros-programas h2{
 font-size: 20px;
 color: white;
}
 #nuestros-programas .container1{
    padding: 25px 0px
   }

#fallos-pag{
width: 908px;
}
#fallos-pag img{
    width: 600px;
    height: 500px;
}
#cartas{
    width: 100%;
}

.container{
    position: relative;
    width: 90%;
    height: 100vh;

}

#cartas{
    background-color: #004AAD;
}

.container-cards{
    width: 100%;
    display: flex;
    max-width: 1400px;
}

.card{
    width: 100%;
    height: 90%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}
.card img{
width: 100%;
border-radius: 25px;
padding: 10px 15px;

}
.video-card{
    width: 100%;
border-radius: 25px;
padding: 10px 15px;
}
.video-card-2{
    width: 100%;
border-radius: 25px;
padding: 10px 15px;
}

.card .contenido{
    padding: 15px;
    text-align: center;
}

.card .contenido p{
    line-height: 1.5;
    color: #6a6a6a;
    font-size: 14px;
}

.card .contenido h3{
    font-size: 27px;
    font-weight: 400;
    margin-bottom: 15px;
}
.card .contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #004AAD;
    border-radius: 4px;
    transition: all 400ms ease;
}
.card .contenido a:hover{
    background-color: #004AAD;
    color: white;
}
.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}

.pie-pagina .grupo-1{
width: 100%;
max-width: 1200px;
margin: auto;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 50px;
padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
    cursor: none;
    user-select: none;
}
.pie-pagina .grupo-1 .box h2{
    color: white;
    padding: 0;
    font-size: 20px;
    
}

.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .box .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    margin-left: 50px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
    padding: 0;
} 
.pie-pagina .grupo-1 .box .red-social a:hover{
    color: #082edb;
}

.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: white;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}

/*Boton de whatsapp*/


.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#29e610;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #fffdfd;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #29e610;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}

/*Pagina mision y vision*/
.containermision{
   max-width: 700px;
   width: 100%;
   padding: 45px 20px;
   margin: 0 auto;
   margin-top: 150px;
   margin-bottom: 150px;
   border: 1px solid #004AAD;
   border-radius: 15px;
}
.volver-img{
    width: 100px;
    padding: 0 20px;
}
.volver-img:hover{
    background-color: #004AAD;
}



@media screen and (max-width:991px){
    header{
        padding: 20px;
    }

    header label{
        display: initial;
        padding: 20px;
        flex-direction: row;
    }
    header .nav-container{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #FFF;
        border-top: 1px solid rgba(0,0,0,.1);
        display: none;
    }
    label img{
        height: 35px;
        width: 35px;
        margin: 0 60px;
        padding: 0;

    }

    header .nav-container ul li{
        width: 100%;
    }
    header .nav-container ul li ul{
        position: relative;
        width: 50%;
    }
    header .nav-container ul li ul li{
        background: #eee;
    }
    header .nav-container ul li ul li ul{
        width: 100%;
        left: 0;
    }
    #menu-bar:checked ~ .nav-container{
        display: block;
        
    }
    
    .nav-menu{
        display: block;
        width: 90%;
    }
    .nav-container{
        padding-right: 200px;
        border-radius: 20px;
    }
    #formulario{
        height: 80%;
    }
    .form-2{
        width: 600px;
        margin: 20px 65px;
    }
    #fallos-pag{
        width: 100%;
    }
    .content2 .cel-fallo{
        width: 45%;
    }
    #cartas{
        display: flex;
        flex-direction: column;
    }
    .container-cards{
        width: 365px;
        flex-direction: column;
    }
    figure{
        width: 220px;
        padding-right: 100px;
    }
    .card img{
        width: 365px;
        height: 350px;
        border-radius: 25px;
        padding: 10px 15px;
        }
        .video-card{
            width: 365px;
        height: 350px;
        border-radius: 25px;
        padding: 10px 15px;
        }
        .video-card-2{
            width: 365px;
        height: 350px;
        border-radius: 25px;
        padding: 10px 15px;
        }

    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 25px 0px;
        }

        header .container{
            display: flex;
            height: 70px;
            width: 100%;
            box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        header{
            height: 70px;
            width: 100%;
        }
        .container label{
            margin: 0;
            padding: 20px 70px;
            user-select: none;
        }
        
        #fallos-pag img{
            width: 400px;
            height: 350px;
        }

        /*Pagina mision y vision*/
        .containermision{
            width: 80%;
            padding: 45px 10px;
            margin: 0;
            margin-top: 75px;
            margin-bottom: 75px;
            border-radius: 15px;
            background-color: white;
            box-shadow: 1px 1px 10px black;
         }
         .containermision p{
            font-size: 12px;
         }
         .containermision h2{
            font-size: 14px;
         }
.volver-img{
    width: 100px;
    padding: 0 20px;
}
.volver-img:hover{
    background-color: #004AAD;
}



}


